<h1 class="text-center">$author's Treets!</h1>
<h4 class="text-center"><a href="/" class="btn">Home</a></h4>
#foreach ($treet in $treets)
  <div class="well treet">
    <h3>$treet</h3>
  </div>
#end